
  .head{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
   .opr-table {
     margin: 25px 0;
     font-size: 0.9em;
     font-family: sans-serif;
     min-width: 400px;
     box-shadow: 0 0 60px rgba(255, 255, 255, 0.15);
     margin-left: auto;
     margin-right: auto;
     border-color: rgb(255, 255, 255);
     border-width:1px;
  
     /* padding-left: 800px; */
     
   }
   
   .opr-table  tr {
     background-color: transparent;
     color: white;
     text-align: left;
     font-weight: bold;
     
   }
   .opr-table th{
     background-color: transparent;
     padding: 12px 15px;
     text-align: center;
     color: white;
   
   }
   .opr-table td {
       padding: 12px 15px;
       text-align: center;
       color: white;
       
   }
   
   .opr-table tr:nth-of-type(even) {
     background-color: transparent;
     color: white;
   }
   
   .opr-table  tr:last-of-type {
     border-bottom: 1px solid #ffffff;
     color: white;
     
   }
   #myTable tr:hover {
    background-color: rgb(223, 193, 237);
    /* background-color: lightblue; */
  }
   
   .btn {
     background-color: #ddd;
     border: rgb(20, 190, 247);
     color: black;
     padding: 10px 10px;
     text-align: center;
     margin: 2spx 2px;
     transition: 0.3s;
     display: inline-block;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     cursor: pointer;
     border-radius: 5px;
     margin-top: 10px;
     margin-left: 10px;
   }
   
   .btn:hover {
     background-color: rgb(128, 137, 145);
     color: white;
   }
   input{
     font-weight: bold;
     border-radius: 3px;
     padding: 8px;  
     margin: 5px 15px;
   }
  /* .op{
    padding-left: 800px;
    margin: -330px 0;
    margin-left: auto;
    margin-right: auto;
   
   
  } */
  
   .label2,.label1{
     font-weight: bold;
     font-size: 19px;
   }
  
   .faults {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    /* padding-bottom: 500px; */
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
   }
  
   .chart-container:hover {
    background-color: #639066, #ef9f9f;
  }