.addButton{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
}


.Peterson{
    margin: 13em;
}

.Start-btn{
    margin: 1em;
    padding: 1em;
}

.Stop-btn{
    margin: 1em;
    padding: 1em;
}