
.Header{
    
    color: white;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

  .MuiFilledInput-root {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .MuiFilledInput-underline:before,
  .MuiFilledInput-underline:hover:before {
    border-bottom: 2px solid white;
  }
  